

body {
    margin:1em auto;
}

#Title {
    position:relative;
}

#MrSchemeTitle {
    line-height : 1;
    margin-bottom: 10px;
}

#MrLogo {
    position : absolute;
    left : 340px;
    top : 0px;
    height : 100%;
}

#MrFileName {
    position : absolute;
    right: 0px;
    top: 0px;
    font-size: larger;
    color : blue;
}

#MrSchemeTitle #lparen , #MrSchemeTitle #rparen {
    color : green ;
    font-size : larger ;
}

#MrSchemeTitle #charS {
    color : blue ;
}

#menu {
  position:relative;
}

#menu button {
    border: 1px solid lightgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#menu #Execute {
    position:absolute;
    right: 0px;
}

#menu #Undo , #menu #Redo {
    position:relative;
    left:20px;
}

#splitter {
    width : 100% ;
    height : 6px ;
    background-color: lightgray ;
    margin-top : 10px ;
    margin-bottom : 10px ;
    border : 1px solid lightgray ;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#console .exec {
    color : green;
    /* font-size:small;*/
}

#console , #console .output {
    overflow: auto;
    line-height:1.1;
}

#console .trace {
    overflow: auto;
    line-height:0;
    padding:0em;
}

#console .consoleTrace {
    background-color: #fafafa;
    padding: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 4px;
    margin-bottom: 4px;
}    

#console .error {
    color : red ;
}

#console .value {
    line-height: 1.5 ;
}

#console .output .clickable {
    text-decoration : underline;
}

#editor .CodeMirror {
  margin-top: 10px;
  margin-bottom: 10px;
      box-shadow: 2px 2px 4px #555; 
    -moz-box-shadow: 2px 2px 4px #555; 
    -webkit-box-shadow: 2px 2px 4px #555; 
}

#editor .CodeMirror-scroll {
    height : 500px;
}

#eval .CodeMirror {
    position : relative;
    width : 100%;
    box-shadow: 2px 2px 4px #555; 
    -moz-box-shadow: 2px 2px 4px #555; 
    -webkit-box-shadow: 2px 2px 4px #555; 
  margin-top: 4px;
  margin-bottom: 4px;
}

#eval .CodeMirror-scroll {
  overflow: visible;
  height: auto;
  width : 90%;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
}

#eval .CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .1em .2em .2em;
}

.CodeMirror-matchingbracket {color: #0f0 !important; font-size: 18px;}
.CodeMirror-nonmatchingbracket {color: #f22 !important; }

#editor .error {
    background-color: #f55;
}

pre.evalCode {
  background-color: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 4px;
  margin-bottom: 4px;
}

pre.traceExpr {
  /*background-color: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
  padding: 0em;
  /*margin-top: 4px;
  margin-bottom: 4px;*/
  color: #608060;
  margin-top: 4pt;
  font-size: 9pt;
}

#copyright {
    position: relative;
    top:-6px;
    text-align : center;
    font-size: smaller;
    color: lightgray;
    line-height : 1;
}

#copyright a {
    color: gray;
}

#copyright #name {
    color: gray;
}

hr {
    line-height: 1;
    margin-top:4px;
    margin-bottom:4px;
    color : lightgray;
}