body {
    margin:1em auto;
}

#Title {
    position:relative;
}

#MrSchemeTitle {
    line-height : 1;
    margin-bottom: 10px;
}

#MrLogo {
    position : absolute;
    left : 740px;
    top : 0px;
    height : 100%;
}

#MrSchemeTitle #lparen , #MrSchemeTitle #rparen {
    color : green ;
    font-size : larger ;
}

#MrSchemeTitle #charS {
    color : blue ;
}

.section-title {
    font-size : 24pt;
      box-shadow: 2px 2px 4px #555; 
    -moz-box-shadow: 2px 2px 4px #555; 
    -webkit-box-shadow: 2px 2px 4px #555; 
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-color: whiteSmoke;
  padding-left: 10px;
}

#copyright {
    position: relative;
    top:-6px;
    text-align : center;
    font-size: smaller;
    color: lightgray;
    line-height : 1;
}

#copyright a {
    color: gray;
}

#copyright #name {
    color: gray;
}

hr {
    line-height: 1;
    margin-top:4px;
    margin-bottom:4px;
    color : lightgray;
}