/*.maingroup {
    position: absolute;
    width: 980px;
    height: 570px;
    overflow: scroll;   
}

.maindiv {
    position: relative;
    width: 980px;
    height: 570px;
    overflow: scroll;
}*/

#console .btreeview , #console .gtreeview {
    /*border: 1px solid black;*/
    overflow: scroll;
    position: relative;  
    display: inline-block;  
    vertical-align: top; 
    margin:12px 18px;
/*    box-shadow: 2px 2px 4px #555; 
    -moz-box-shadow: 2px 2px 4px #555; 
    -webkit-box-shadow: 2px 2px 4px #555; */
}

.econode {
    position: absolute;
    text-overflow: clip;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    padding: 2px;
}

a.ecolink:visited {
    text-decoration: none;  
    color: black;
}

a.ecolink:hover {
    text-decoration: underline;
}

