
canvas.canvas101 { 
    border: 1px solid black;
    position: relative;  
    display: inline-block;  
    vertical-align: top; 
    margin:12px 18px;
    box-shadow: 2px 2px 4px #555; 
    -moz-box-shadow: 2px 2px 4px #555; 
    -webkit-box-shadow: 2px 2px 4px #555; 
}

