span.tooltip {
  display: none;
}

#tooltip-frame {
  background-color: #ffed8a;
  font: 15px/2 normal Helvetica,Arial,Verdana,sans-serif;
  display: none;
  position: absolute;
  border: 1px solid #333;
  padding: 2px 6px;
    box-shadow: 2px 2px 4px #555; 
    -moz-box-shadow: 2px 2px 4px #555; 
    -webkit-box-shadow: 2px 2px 4px #555; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}